@import './structure.less';
.decoration {
	height: 4px;
	background-color: @yellow
}

.decoration-bg {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.decoration-sm {
	width: 70px;
	margin-top: 30px;
	margin-bottom: 30px;
}