.template-casa-do-estudante {
	margin-left: 360px;
	padding: 24px 40px 70px 110px;
	>.template-casa-do-estudante__title {
		margin-bottom: 130px;
		max-width: 720px;
	}
}
@media screen and (max-width: @max-mobile) {
	.template-casa-do-estudante {
		margin-left: 0;
		padding: 20px;
		> .template-casa-do-estudante__title {
			max-width: 285px;
			margin-bottom: 30px;
		}
	}
}