@import './structure.less';


h1 {
 font-size: 65px;
 font-weight: 700;
}
h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}
p {
	font-size: 18px;
}

@media only screen and (max-device-width: @max-mobile) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 12px;
	}
	p {
		font-size: 9px;
	}
}