@import './structure.less';

.wp-block-video video {
	border: @yellow 3px solid;
	border-radius: 43px;
}

.wp-video-shortcode {
	border: yellow 2px solid;
	border-radius: 15px;
}
.mejs-video {
	border: yellow 2px solid;
	border-radius: 15px;
}
.wp-block-embed iframe {
	box-sizing: border-box;
	border: @yellow 3px solid;
	border-radius: 43px;
	width: 100%;
	height: 520px;

	@media screen and (max-width: @screen-sm) {
		height: 290px;
	}
}
